@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-200 font-sans;
}

input {
  @apply bg-gray-800 text-gray-200 placeholder-gray-500;
}

input:focus {
  @apply border-yellow-500;
}

.btn {
  @apply bg-yellow-500 text-gray-900 hover:bg-yellow-400;
}

.card {
  @apply bg-gray-800 text-gray-200;
}

.card-title {
  @apply text-yellow-500;
}

.green-text {
  @apply text-green-500;
}

.red-text {
  @apply text-red-500;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 100px 100px, 100px 100px, -100px -100px, -100px -100px;
  }
}
